# Section 3.3: Tuples
* ()
* +, in, not in, len, min, max

### Students will be able to:
* Differentiate between tuples and lists
* Create tuples
* Access tuple elements
* Convert lists into tuples and tuples into lists
* Delete, slice, and unpack tuples
* Use basic tuple operations and functions

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  

## Tuple Basics

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)](https://www.youtube.com/watch?v=egYurO3212M)

A list is a very useful data structure that can manipulate a sequence of elements. A tuple is another data structure type that can also store and manipulate a sequence of elements. Like lists, the elements of a tuple can be of any type (i.e. `int`, `float`, `string`, `list`, another `tuple`). However, unlike lists, a tuple is an immutable data structure, which means that after you define a tuple, you are not allowed to change it. In other words, you cannot reorder the elements of a tuple, cannot append additional elements, and cannot delete elements.

You might be wondering, if tuples are like restricted lists, when and why should I use them? The importance of tuples is most obvious when passing to and returning from a function. They are also important to communicate to people reading your code that you do not intend for the content of the tuple to be mutated (changed).

#### Creating a tuple
You can create a tuple by enclosing its elements within parentheses, for example the following is a tuple containing 3 elements `(13, 5, 92)`. Note that a list was defined using square brackets `[13, 5, 92]`.

```python
>>> T = (13, 5, 92)
>>> type(T)
<class 'tuple'>

>>> L = [13, 5, 92]
>>> type(L)
<class 'list'>
```
#### Creating an empty tuple
You can create an empty tuple using empty parentheses. 

```python
>>> T = ()
>>> type(T)
<class 'tuple'>
```

#### Creating a tuple with a single element
When creating a tuple with a single element, you have to add a comma `,` after the single element. Otherwise, Python will assume you are using the parentheses as part of an expression rather than to create a tuple.

```python
>>> T1 = (5)
>>> type(T1)
<class 'int'>

>>> T2 = (5,) # note the comma after 5
>>> type(T2)
<class 'tuple'>
```

#### Accessing elements of a tuple
You can access the individual elements of a tuple in the same way you access the elements of a list or a string, by using the index of the element of interest.

```python
>>> T = (13, 5, 92)
>>> T[0]
13
>>> T[-1]
92
```

#### Converting a list into a tuple 
You can convert a list into a tuple by passing it into the `tuple` function.

```python
>>> L = [4, 5.3, 'name'] #list
>>> T = tuple(L) #tuple
>>> print(T)
(4, 5.3, 'name')
>>> type(T)
<class 'tuple'>
```

#### Converting a tuple into a list
You can convert a tuple into a list by passing it into the `list` function.

```python
>>> T = ('name', [2, 4], 5.3, 19) #tuple
>>> L = list(T) #list
>>> print(L)
['name', [2, 4], 5.3, 19]
>>> type(L)
<class 'list'>
```

#### Changing a tuple element
Tuples are immutable objects and cannot be changed. If you try to change the content of a tuple, a `TypeError` exception will be raised.

```python
>>> T = (13, 5, 92)
>>> T[0] = 5
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment

```

A list can be one of the elements of a tuple; the tuple doesn't store the whole list, but stores a reference to the storage location of the list in memory. Therefore, if the memory location storing the list is changed, the tuple references the changed list.

In the following example, the second element in the tuple `T` is a list `[2, 4]`. `T[1]` stores the location of the list rather than the list itself; therefore, if you change the content of the list, (i.e. change `2` to a `5`), the tuple `T` now references the new list `[5, 4]`. Technically speaking, the tuple did not change; it still references the same memory location. However, the memory location changed. This concept will be more relevant when you use tuples with functions or copy tuples.

```python
>>> T = ('name', [2, 4], 5.3, 19)
>>> T[1][0] = 5
>>> T
('name', [5, 4], 5.3, 19)
```

#### Deleting a tuple
Like any other variable, a tuple can be deleted by using the `del()` function.

```python
>>> del(T)
>>> type(T)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'T' is not defined
```

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

## Creating Tuples

### Creating homogeneous tuples
Homogeneous tuples contain elements of the same type; in the following example, you will see how to create a tuple of `int` values and another tuple of `string` values.

In [1]:
# Create a homogeneous int tuple
T_int = (10, -4, 59, 58, 23, 50)
type(T_int)

tuple

In [2]:
# Create a homogeneous string tuple
T_string = ("word", "letter", "vowel", "spell", "book", "write", "read")
type(T_string)

tuple

### Creating heterogeneous tuples
Tuples can contain elements of different types. In the following example, you will see how to create tuples containing different types.

In [3]:
# Create heterogeneous tuples
T = ("Tobias", 23, 25.3, [])
type(T)

tuple

In [4]:
# Create heterogeneous tuples

# A datetime object can be a tuple element
from datetime import datetime
now = datetime.today() 

T = ((1.5,2.6), "home", now)
type(T)

tuple

### Creating single-element tuples

In [5]:
T = ("switch") # This is not a tuple
type(T)

str

In [6]:
T = ("switch",) # Note the comma after the string makes T a tuple
type(T)

tuple

### Converting lists to/from tuples

In [7]:
# List of employee names
names_list = ["Suresh", "Colette", "Skye", "Hiroto", "Tobias", "Tamara", "Jin", "Joana", "Alton"]

# Sort the names alphabetically
sorted_list = sorted(names_list)

# Convert list into tuple
names_tuple = tuple(sorted_list)

# List converted into a tuple
print(type(names_tuple))

# Print the first and last name in the tuple
print("First name is: {:s}".format(names_tuple[0]))
print("Last name is: {:s}".format(names_tuple[-1]))

<class 'tuple'>
First name is: Alton
Last name is: Tobias

## Creating Tuples from User Input
In this example, the user is asked to enter 3 integers, the program then saves the squares of these integers into a tuple and print its content.

In [8]:
# Collect 3 int numbers from a user
L = []
for i in range(3):
    tmp = int(input("Enter an int {:d}/3: ".format(i)))
    L.append(tmp ** 2)

# Convert the list into a tuple
T = tuple(L)

# Print the content of the tuple
print("Tuple of squares is:", T)

# Print each of the tuple elements on a new line
for i in range(3):
    print("T[{0:d}] = {1:d}".format(i, T[i]))

Enter an int 0/3: 9
Enter an int 1/3: 6
Enter an int 2/3: 5
Tuple of squares is: (81, 36, 25)
T[0] = 81
T[1] = 36
T[2] = 25

## Changing Tuple Elements

In [4]:
T = ("Tobias", 23, 25.3, [])

# Tuples are immutable and cannot be changed
T[0] = "hello"

TypeError: 'tuple' object does not support item assignment

In [2]:
T = ("Tobias", 23, 25.3, [])

# A list inside a tuple can change
T[-1].append(44)

# The tuple did NOT change, it still refers to the same list; only the list was changed
print(T)

('Tobias', 23, 25.3, [44])

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>

## Tuple Basics

### Creating tuples

In [5]:
# [ ] Create a tuple that consists of the following variables

x = 5
l = [4.4, 5.3]
s = "something"
t = (9, 0)
T = []
T.append(x)
T.append(l)
T.append(s)
T.append(t)
print(tuple(T))

(5, [4.4, 5.3], 'something', (9, 0))

### Modifying tuples

In [6]:
# [ ] Change the third element of T to [59, 20.4]

T = ([43.6, 34], [49, 59], [50, 34.6], [39, 49])
T[2][0] = 59
T[2][1] = 20.4
print(T)

([43.6, 34], [49, 59], [59, 20.4], [39, 49])

### Merging tuples

In [7]:
# [ ] Write a program to merge the content of T1 and T2 into one tuple T
# Correct output should be T = (5, 4, 3, 9, 2, 12)
# T = ((5, 4, 3), (9, 2, 12)) is an incorrect output

# Hint: Use list to/from tuple conversion

T1 = (5, 4, 3)
T2 = (9, 2, 12)

T=[]
for a in T1:
    T.append(a)
for a in T2:
    T.append(a)
print(tuple(T))

(5, 4, 3, 9, 2, 12)

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  


## Slicing and Unpacking Tuples

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)](https://www.youtube.com/watch?v=OvueVksOLew)

#### Slicing tuples
Slicing a tuple (or a list) lets you access a subset of a tuple. You can then assign this subset as a new tuple, pass it to a function, or do anything you would do with the full tuple.

You can slice a tuple using the following syntax `T[initial_index:final_index]`:
* The `initial_index` is optional; if left empty, slicing starts from 0
* The `final_index` is optional; if left empty, slicing goes to the last element of the tuple
* The `T[initial_index]` element is included in the sliced tuple; the `T[final_index]` is excluded
* You can use negative numbers for both indices, where the final tuple element has index -1, the preceding has index -2, and so on
* Whether you use negative or positive indices you should always keep `initial_index < final_index`

```python
>>> T = ('name', [2, 4], 5.3, 19)
>>> T[1:2] # from index 1 (included) to index 2 (excluded)
([2, 4],)
>>> T[1:] # from index 1 (included) to the last element
([2, 4], 5.3, 19)
>>> T[:2] # from the start of a tuple to index 2 (excluded)
('name', [2, 4])
>>> T[-3:-1] # from  index -3 (included) to index -1 (excluded)
([2, 4], 5.3)
>>> T[-3:] # from index -3 to the last element
([2, 4], 5.3, 19)
>>> T[:] # all elements
('name', [2, 4], 5.3, 19)

```

#### Unpacking tuples
A tuple can be unpacked and its values can be assigned to multiple variables at the same time. This is especially useful when a function returns a single tuple containing all the returned variables.

```python
>>> (a, b) = (4, 5)
>>> print(a)
4
>>> print(b)
5
>>> 
```
The parentheses can be left off when unpacking tuples.

```python
>>> x, y, z = 1, 2, 3
>>> x
1
>>> y
2
>>> z
3
```

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

### Slicing tuples

In [2]:
T = (12, 24, 'name', 'city')

# Slice the tuple into numerical and textual tuples
numerical_tuple = T[0:2]
print(numerical_tuple)

textual_tuple = T[-2:]
print(textual_tuple)

(12, 24)
('name', 'city')

### Unpacking tuples

In [3]:
# Swap variables using tuple unpacking

e1 = 5
e2 = 109
print("\nBefore swapping:")
print("e1 = {:3d}\t e2 = {:3d}".format(e1, e2))

e1, e2 = e2, e1

print("\nAfter swapping:")
print("e1 = {:3d}\t e2 = {:3d}".format(e1, e2))

Before swapping:
e1 =   5	 e2 = 109

After swapping:
e1 = 109	 e2 =   5

### Returning function values
Tuples can be used in functions to return multiple values. In this example, you will see the function `split_name` splits a full name then returns the first and last names as a packed tuple. You can then unpack the returned tuple and use its content as separate variables.

In [4]:
# Split a full name into the first and last names
def split_name(name):
    names = name.split(" ")
    first_name = names[0]
    last_name = names[-1]
    # pack the variables into a tuple, then return the tuple
    return (first_name, last_name)

# Ask user for input
name = input("Enter your full name: ")

# Unpack the returned tuples into first, last variables
# looks like the function returns 2 variables
first, last = split_name(name)

# Unpacked variables can be used separately
print("First name: {:s}".format(first))
print("Last name: {:s}".format(last))

Enter your full name: Aravind Krishna Saravu
First name: Aravind
Last name: Saravu

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>

## Slicing and Unpacking Tuples

### Slicing tuples

In [ ]:
# [ ] Write a program to split the content of T into T1 and T2
# T1 = (5, 4, 3)
# T2 = (9, 2, 12)

T = (5, 4, 3, 9, 2, 12)
T1 = T[0:3]
T2 = T[3:]

print(T1)
print(T2)

### Unpacking tuples

In [ ]:
# [ ] Write an expression to unpack `T` into:
# 1) x = 5
# 2) l = [3, 5.3]
# 3) s = 'something
# 4) t = (9, 0)

T = (5, [3, 5.3], 'something', (9, 0))

#TODO: Your code goes here
x = T[0]
l = T[1]
s = T[2]
t = T[3]
print("After unpacking the tuple:", T)
print("x =", x)
print("l =", l)
print("s =", s)
print("t =", t)

In [5]:
# [ ] Complete the function `current_date` to return today's month, day, and year
# Hint: Use an appropriate function from the datetime module
from datetime import datetime

def current_date():
    #TODO return month, day, year
    t = datetime.today()
    m = t.month
    d = t.day
    y = t.year
    return (m, d, y)

m, d, y = current_date()
print("Today's date is: {:2d}/{:2d}/{:4d}".format(m, d, y))

Today's date is: 11/27/2019

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  

## Tuple Operations and Functions

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)](https://www.youtube.com/watch?v=XdWJoBCkfdw)

Python support several tuple operations, such as containment, identity, and concatenation. In the following examples, you will explore a few of the tuple operations.

---
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

### Containment (`in`, `not in`)

You can test whether an object is contained in a tuple.

In [6]:
T = (4, [5, 6], 'name', 3.5, True)

print("4 contained in T?", 4 in T)
print("5 not contained in T?", 5 not in T )
print("False contained in T?", False in T)

4 contained in T? True
5 not contained in T? True
False contained in T? False

### Identity (`is`) and equality (`==`)
You can test whether two tuples contain equal elements by using the identity `==` operator. Similarly, you can test whether tuples are identical by using the `is` operator. Remember, if two tuples (and lists) are identical, changing an element in one will generate the same change in the other.

In [7]:
# Equivalent tuples, not identical
T1 = (10, [2, 4], 59)
T2 = (10, [2, 4], 59)

if (T1 == T2):
    print("Equal tuples")
else:
    print("Not equal tuples")

if (T1 is T2):
    print("Identical tuples")
else:
    print("Not identical tuples")

Equal tuples
Not identical tuples

In [8]:
# Identical tuples (also equivalent)
T1 = (10, [2, 4], 59)
T2 = T1

if (T1 == T2):
    print("Equal tuples")
else:
    print("Not equal tuples")

if (T1 is T2):
    print("Identical tuples")
else:
    print("Not identical tuples")

Equal tuples
Identical tuples

In [9]:
# Changing one of 2 identical tuples
T1 = (10, [2, 4], 59)
T2 = T1

# A change in T1 is a change in T2
T1[1][0] = 20

print("T1 = ", T1)
print("T2 = ", T2)

T1 =  (10, [20, 4], 59)
T2 =  (10, [20, 4], 59)

### Concatenation (`+`)

You can concatenate two tuples and save the result in a new tuple.

In [10]:
T1 = ("First", "Last")
T2 = ("Middle",) # single element tuple

# Concatenate two tuples
T = T1 + T2
print(T)

('First', 'Last', 'Middle')

You can also concatenate sliced tuples

In [11]:
T1 = (10, [2, 4], 59)
T2 = (59, [2, 4], 'name', 3.5, True)

# Concatenate sliced tuples
T = T1[1:] + T2[0:2]
print(T)

([2, 4], 59, 59, [2, 4])

### Length of a tuple (`len`)
The length of a tuple is the number of elements in it. If a list (or another tuple) is an element of the tuple, it is counted as 1 regardless of how many subelements it actually contains. 

Knowing the length of a tuple might be helpful when iterating over the elements of the tuple.

In [12]:
# length of tuple
T1 = (10, [2, 4], 59)
print(len(T1))

3

In [14]:
# Iterate over elements of a tuple
T1 = (10, [2,4], 59)

for i in range(len(T1)):
    print("T1[{:d}] = {}".format(i, T1[i]))

T1[0] = 10
T1[1] = [2, 4]
T1[2] = 59

---
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>

## Tuple Operations and Functions

In [ ]:
# [ ] Write a program to merge the content of T1 and T2 into one tuple T
# Correct output should be T = (5, 4, 3, 9, 2, 12),
# T = ((5, 4, 3), (9, 2, 12)) is an incorrect output

# You should NOT use lists in your solution

T1 = (5, 4, 3)
T2 = (9, 2, 12)
T1 = list(T1)
T2 = list(T2)
T = []
for a in T1:
    T.append(a)
for a in T2:
    T.append(a)
print(tuple(T))

In [2]:
# [ ] Write a program to prompt the user for a number, then test if the number is contained in T
try:
    T = (23, 45, 93, 59, 35, 58, 19, 3)
    num = int(input("Input an number:"))
    if num in T:
        print("Yes the number {:d} is in:".format(num),T)
    else:
        print("No the number {:d} doesn't exist ".format(num))
except:
    print("Only numbers!!!")

Input an number:3
Yes the number 3 is in: (23, 45, 93, 59, 35, 58, 19, 3)

In [3]:
# Write a function to return the largest element in a tuple T
def larg_num():
    T = (23, 45, 93, 59, 35, 58, 19, 3)
    return max(T)
print(larg_num())

93

In [4]:
# [ ] Write a program to compute the average of the elements in T

T = (23, 45, 93, 59, 35, 58, 19, 3)
print(float(sum(T)/2))

167.5